* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(28px);
  position: sticky;
  z-index: 100;
  top: 0;
  transition: all 0.3s ease;
}
.hamburger-icon {
  display: none;
  width: 30px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  font-family: iranyekanwebmedium;
  transform: translateY(-100%);
}

.cross-icon {
  text-align: left;
  width: 100%;
  padding: 20px 0;
}

.cross-icon img {
  width: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.hamburger-menu-items {
  padding: 10px 5px;
}

.hamburger-menu-items ul li {
  list-style: none;
}
.hamburger-menu-items a {
  text-decoration: none;
  color: #303030;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0;
}

.hamburger-menu-items div {
  height: 1px;
  margin: 12px 0;
  width: 90%;
  background-color: #dfe1e4;
}

.more-item {
  display: flex;
  padding: 20px 48px;
  align-items: center;
  background-color: #eee;
}
.more-item a {
  text-decoration: none;
  cursor: pointer;
  color: #28457b;
  font-size: 0.85rem;
}

.more-item img {
  width: 15px;
  margin-right: 5px;
}
.logo {
  margin: 10px 20px;
}
.header-ul {
  display: flex;
  list-style-type: none;
}

.header-ul li {
  font-size: 14px;
  margin: 0 0 0 17px;
  font-family: iranyekanwebregular;
}
.header-ul li a {
  text-decoration: none;
  color: #303030;
}

.header-ul li a:hover {
  cursor: pointer;
}
.header-ul > li:last-child a {
  border-radius: 20px;
  background-color: rgba(232, 239, 254, 0.6);
  color: #28457b;
  padding: 8px 20px;
  font-family: YekanBakhBold;
}
.header-ul > li:last-child a:hover {
  background-color: #fbf6d9;
}
.more-menu {
  display: flex;
}
.more-menu img {
  width: 7px;
  margin: 0 4px;
}

.show-hamburger-menu {
  animation: FadeInMenu 0.55s forwards;
}

#show-more-menu {
  position: relative;
}
#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -70px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 10px 0;
  margin-top: 30px;
  list-style: none;
  width: 140px;
  display: none;
}

#show-more-menu ul li {
  display: inline-block;
  padding: 7px 14px;
  width: 100%;
  font-size: 12px;
  color: black;
}

#show-more-menu ul li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}

#show-product-menu {
  position: relative;
}
.product_menu {
  position: absolute;
  top: 0;
  left: -140px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 11px 0;
  padding: 26px 12px;
  margin-top: 30px;
  display: none;
  justify-content: flex-start;
  width: 400px;
}

.product_menu a {
  margin: 1px 10px;
  padding: 15px 3px 14px 15px;
  display: block;
  text-align: right;
}
.product_menu a:hover {
  background-color: rgba(232, 239, 254, 0.6);
  border-radius: 10px;
}
.product_menu a p:first-child {
  color: black;
  font-size: 0.95rem;
  margin-bottom: 0;
  margin-top: 0;
}

.product_menu a p:last-child {
  color: black;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

.banner {
  color: #fff;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  margin: 20px auto;
  border-radius: 18px;
  /* height: 85vh; */
  padding: 124px 60px 80px;
  font-family: iranyekanwebregular;
  display: flex;
  justify-content: space-between;
  width: 1050px;
}
.right-banner h3 {
  display: block;
  margin: 3px 0;
  font-size: 2rem;
  color: #fff;
  font-family: YekanBakhHeavy;
}

.right-banner > p {
  font-size: 1.15rem;
  margin: 25px 0;
  line-height: 2.5rem;
}
.button-banner {
  padding: 0;
  margin-top: 60px;
}
.button-banner a {
  text-decoration: none;
  color: #fff;
  padding: 9px;
}
.button-banner > a:first-child {
  background-color: #ffdb04;
  padding: 8px 13px;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  font-size: 14px;
  color: black;
}

.button-banner > a:last-child {
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03) r;
  text-align: center;
  color: #fff;
  background: #435a8a 0 0 no-repeat padding-box;
  padding: 8px 13px;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  font-size: 14px;
}

.left-banner > img {
  width: 500px;
  /* filter: drop-shadow(6px 8px 8px #333); */
  justify-content: center;
}
.right-banner {
  width: 50%;
}
.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}

.go-down div {
  background-image: url(../images/arrowbottom.svg);
  width: 164px;
  height: 78px;
}

.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}

.online-payment {
  display: flex;
  margin: 1px auto;
  justify-content: space-between;
  padding: 1px 2px 90px;
  width: 1100px;
  /* align-items: flex-start; */
}
.section-image {
  width: 450px;
  height: 480px;
  /* text-align: right; */
  position: relative;
  right: -35px;
  top: -33px;
}
.section-text {
  width: 530px;
  margin: 30px 0;
}
.section-text > h2 {
  font-family: YekanBakhMedium;
  color: #747480;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 3px;
}
.section-text > h3 {
  font-family: YekanBakhHeavy;
  font-size: 32px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 4px;
  margin: 5px 0 10px;
}
.section-text > p {
  font-family: YekanBakhMedium;
  line-height: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe1e4;
  text-align: right;
  font-size: 16px;
  margin: 3px auto;
}
.section-button {
  display: flex;
  margin-top: 40px;
}
.first-button {
  padding: 4px 14px;
  background-color: #ffda02;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  text-decoration: none;
  color: black;
  font-family: iranyekanwebmedium;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 17px;
}

.second-button {
  padding: 4px 14px;
  background-color: #f1f5fe;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  text-decoration: none;
  color: #2e4b7f;
  font-family: iranyekanwebmedium;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 17px;
  /* position: relative; */
}
.section-button .second-button > img {
  width: 18px;
  height: 15px;
  /* margin-right: 5px; */
  position: relative;
  top: 4px;
}
.attributes {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}
.definition {
  width: 390px;
  margin-top: 40px;
}
.definition h3 {
  margin-top: 5px;
  /* margin-bottom: -3px; */
  font-size: 32px;
  /* line-height: 43px; */
  /* text-align: right; */
  font-family: YekanBakhHeavy;
}
.definition p {
  font-family: YekanBakhMedium;
  margin-top: 40px;
  padding-bottom: 20px;
  line-height: 40px;
  color: #303030;
  text-align: justify;
  font-size: 1rem;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding: 30px;
}
.items img {
  width: 60px;
  height: 60px;
}
.items .item {
  padding: 18px 25px 20px 0;
}
.items .item div {
  display: flex;
  align-items: center;
}
.items .item div h4 {
  font-family: YekanBakhHeavy;
  font-size: 1.5rem;
  margin-right: 16px;
}

.items .item p {
  font-family: YekanBakhMedium;
  line-height: 2.63rem;
  margin: 20px 0 20px 10px;
  font-size: 1rem;
  color: #303030;
  line-height: 36px;
}
.first-item {
  border-left: 1px solid #e0e4e7;
}
.second-item {
  border-bottom: 1px solid #e0e4e7;
}

.third-item {
  border-top: 1px solid #e0e4e7;
}
.forth-item {
  border-right: 1px solid #e0e4e7;
}

.start-box {
  width: 1170px;
  height: 220px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  /* padding: 40px;  */
}
.start-box h4 {
  font-family: YekanBakhHeavy;
  font-size: 1.7rem;
  margin-bottom: 2px;
}
.start-box p {
  font-family: YekanBakhMedium;
  color: #747480;
  font-size: 1.4rem;
  margin-top: 10px;
}
.start-box a {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  color: black;
  padding: 5px 14px;
  border-radius: 9px;
  font-size: 0.9rem;
  line-height: 28px;
  /* min-height: 28px; */
  font-family: iranyekanwebmedium;
  margin-bottom: 40px;
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInMenu {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.support {
  width: 1170px;
  border-radius: 39px;
  padding: 5px 35px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* height: 70px; */
  background-color: #fbf6f1;
  font-family: YekanBakhHeavy;
  font-size: 1.3rem;
  color: #303030;
  align-items: center;
}
.line {
  margin: 0 20px;
}
.phone-number {
  color: #21457f;
  margin-right: 10px;
}

.support-request {
  display: flex;
  /* color: #21457f; */
  font-size: 22px;
}
.support-request > a {
  text-decoration: none;
  color: #21457f;
  text-align: center;
  justify-content: center;
}
.support-request > img {
  width: 20px;
  margin-right: 8px;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-betweenx;
  width: 1170px;
  margin: 30px auto;
  align-items: center;
  padding: 5px 8px;
}
footer > div > div > p {
  font-family: YekanBakhHeavy;
  font-size: 23px;
  margin-left: 40px;
  margin-bottom: 15px;
  color: #303030;
}
.footer-links {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  margin-bottom: 50px;
  padding: 0 10px;
}
.footer-links > div > ul {
  list-style: none;
  margin: 0;
  padding: 3px 0 5px 20px;
}
.footer-links > div > ul > li {
  padding: 7px 0;
}
.footer-links > div > ul > li > a {
  font-family: YekanBakhMedium;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}
.footer-social-media {
  /* position: relative; */
  width: 360px;
  padding: 0 30px;
  margin-bottom: 290px;
}
.footer-social-media > p {
  font-family: YekanBakhHeavy;
  font-size: 1.3rem;
  color: #303030;
}
.footer-social-media > div {
  display: flex;
  margin-top: 20px;
}

.footer-social-media a {
  background-color: #eff4fe;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 15px;
}
.bell{
  border-radius: 50%;
  background-color: #2e82ff;
  width: fit-content;
  padding: 7px 7px 0 ;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.bell img{
  width: 40px;
}
@media (max-width: 1200px) {
  header {
    width: 900px;
  }
  .banner {
    width: 900px;
    padding: 60px 40px 60px;
  }
  .left-banner img {
    width: 430px;
    margin-top: 79px;
  }
  .online-payment {
    width: 940px;
  }
  .section-image {
    right: 20px;
  }
  .attributes {
    flex-direction: column;
    padding: 0 8px;
    width: 925px;
  }
  .definition {
    width: 100%;
    margin-top: 40px;
  }
  .definition p {
    width: 100%;
    margin-top: 30px;
  }
  .first-item,
  .second-item,
  .third-item,
  .forth-item {
    border: none;
  }
  .items {
    width: 90%;
    padding: 10px;
  }
  .items .item {
    padding: 18px 0 20px 50px;
  }
  .start-box {
    width: 88%;
  }
  .support {
    width: 940px;
    font-size: 14px;
    padding: 4px 20px;
  }
  .support-request {
    font-size: 18px;
  }
  .phone-number {
    font-size: 24px;
  }
  footer {
    width: 940px;
  }
}

@media (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }
  .header-ul li:last-child {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .header-ul li {
    margin: 0 10px;
  }
  .banner {
    width: auto;
    padding: 40px 40px 85px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .right-banner {
    width: 100%;
    text-align: center;
  }
  .left-banner img {
    display: none;
  }
  .right-banner > h3 {
    text-align: center;
  }
  .right-banner > p {
    font-size: 1rem;
    margin: 5px 0;
  }
  .button-banner {
    margin-top: 30px;
  }
  .online-payment {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .section-text {
    width: 95%;
    margin-top: 0;
    position: relative;
    top: -125px;
  }
  .section-image {
    top: -68px;
    margin: auto;
  }
  .section-button {
    margin-top: 17px;
  }
  .attributes {
    width: auto;
    padding: 0 30px;
  }
  .start-box {
    /* width: calc(100% - 60px); */
    width: 90%;
  }
  .support {
    /* width: calc(100% - 100px); */
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    background: none;
  }
  .support > p,
  .phone-number {
    font-size: 18px;
  }
  .support-request {
    background-color: #fbf6f1;
    padding: 4px 20px;
    border-radius: 18px;
    color: #21457f;
  }
  footer {
    flex-direction: column;
    width: 95%;
    margin: 5px 25px;
  }
  footer .footer-links {
    width: 100%;
  }
  .footer-social-media {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 750px) {
  .header-ul {
    display: none;
  }
  header {
    width: auto;
    padding: 10px 8px;
  }
  .hamburger-icon {
    display: block;
    color: #303030;
    cursor: pointer;
  }

  .banner {
    width: auto;
  }
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -80px;
  }
  .section-text > h3 {
    font-size: 26px;
  }
  .section-text > p {
    padding: 0 30px;
    font-size: 14px;
  }
  .section-button {
    justify-content: center;
  }
  .section-image {
    width: 460px;
    height: 480px;
  }
  .definition {
    text-align: center;
    margin-top: 90px;
  }
  .definition h3 {
    font-size: 1.5rem;
  }
  .items {
    width: 100%;
    padding: 40px 0;
  }
  .items .item {
    padding: 18px 0 20px 20px;
  }
  .start-box {
    width: 95%;
  }
  .start-box h4 {
    font-size: 1.4rem;
  }
  .start-box p {
    font-size: 1.2rem;
  }
  .start-box a {
    margin-bottom: 28px;
    padding: 3px 12px;
    font-size: 16px;
  }

  .support-number > p,
  .phone-number {
    font-size: 14px;
  }

  footer .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .footer-links div {
    margin-top: 25px;
  }
  footer {
    width: calc(100% - 120px);
    margin: 0 60px;
  }
}

@media (max-width: 570px) {
  .right-banner > h3 {
    font-size: 20px;
    text-align: right;
    padding-right: 19px;
    line-height: 28px;
  }
  .right-banner {
    margin-top: 28px;
  }
  .right-banner > p {
    margin-right: 12px;
    font-size: 14px;
    text-align: justify;
  }
  .section-image {
    display: none;
  }
  .section-text {
    width: 80%;
    padding: 0 10px;
  }
  .section-text > h3 {
    font-size: 1.5rem;
  }
  .section-text > p {
    padding: 0;
  }
  .items {
    padding: 40px 0;
    grid-template-columns: 1fr;
  }
  .items .item {
    padding: 18px 30px;
  }
  .start-box {
    height: 180px;
  }
  .start-box h4 {
    font-size: 1.2rem;
  }
  .start-box p {
    font-size: 1rem;
  }
  .start-box a {
    margin-bottom: 20px;
    padding: 2px 10px;
    font-size: 12px;
  }
  .support {
    padding: 0;
  }
  .line {
    display: none;
  }
  .support-number {
    display: grid;
    grid-template-columns: 190px;
    text-align: right;
    margin-right: 20px;
  }
  footer {
    width: calc (100% - 60px);
    margin: 0 30px;
  }
  .footer-links p,
  .footer-links a {
    font-size: 0.9rem;
  }
  .footer-social-media p {
    text-align: center;
    font-size: 14px;
  }
  .footer-social-media a {
    width: 23px;
    height: 29px;
    width: 90%;
  }
  .footer-social-media img {
    width: 18px;
    height: 18px;
  }
}
