* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(28px);
  position: sticky;
  top: 0;
  /* border-radius: 5px; */
  transition: all 0.3s ease;
}
.hamburger-icon {
  display: none;
  width: 30px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  font-family: iranyekanwebmedium;
  transform: translateY(-100%);
}

.cross-icon {
  text-align: left;
  width: 100%;
  padding: 20px 0;
}

.cross-icon img {
  width: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.hamburger-menu-items {
  padding: 10px 5px;
}

.hamburger-menu-items ul li {
  list-style: none;
}
.hamburger-menu-items a {
  text-decoration: none;
  color: #303030;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0;
}

.hamburger-menu-items div {
  height: 1px;
  margin: 12px 0;
  width: 90%;
  background-color: #dfe1e4;
}

.more-item {
  display: flex;
  padding: 20px 48px;
  align-items: center;
  background-color: #eee;
}
.more-item a {
  text-decoration: none;
  cursor: pointer;
  color: #28457b;
  font-size: 0.85rem;
}

.more-item img {
  width: 15px;
  margin-right: 5px;
}
.logo {
  margin: 10px 20px;
}
.header-ul {
  display: flex;
  list-style-type: none;
}

.header-ul li {
  font-size: 14px;
  margin: 0 0 0 17px;
  font-family: iranyekanwebregular;
}
.header-ul li a {
  text-decoration: none;
  color: #303030;
}

.header-ul li a:hover {
  cursor: pointer;
}
.header-ul > li:last-child a {
  border-radius: 20px;
  background-color: rgba(232, 239, 254, 0.6);
  color: #28457b;
  padding: 8px 20px;
  font-family: YekanBakhBold;
}
.header-ul > li:last-child a:hover {
  background-color: #fbf6d9;
}
.more-menu {
  display: flex;
}
.more-menu img {
  width: 7px;
  margin: 0 4px;
}

.show-hamburger-menu {
  animation: FadeInMenu 0.55s forwards;
}

#show-more-menu {
  position: relative;
}
#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -70px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 10px 0;
  margin-top: 30px;
  list-style: none;
  width: 140px;
  display: none;
}

#show-more-menu ul li {
  display: inline-block;
  padding: 7px 14px;
  width: 100%;
  font-size: 12px;
  color: black;
}

#show-more-menu ul li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}

#show-product-menu {
  position: relative;
}
.product_menu {
  position: absolute;
  top: 0;
  left: -140px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 11px 0;
  padding: 26px 12px;
  margin-top: 30px;
  display: none;
  justify-content: flex-start;
  width: 400px;
}

.product_menu a {
  margin: 1px 10px;
  padding: 15px 3px 14px 15px;
  display: block;
  text-align: right;
}
.product_menu a:hover {
  background-color: rgba(232, 239, 254, 0.6);
  border-radius: 10px;
}
.product_menu a p:first-child {
  color: black;
  font-size: 0.95rem;
  margin-bottom: 0;
  margin-top: 0;
}

.product_menu a p:last-child {
  color: black;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

.banner {
  color: #fff;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  margin: 20px auto;
  border-radius: 18px;
  height: 85vh;
  padding: 124px 60px 80px;
  font-family: iranyekanwebregular;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.right-banner h3 {
  display: block;
  margin: 3px 0;
  font-size: 2rem;
  color: #fff;
  font-family: YekanBakhHeavy;
}

.right-banner > p {
  /* font-family: iranyekanwebregular; */
  font-size: 18px;
  margin: 25px 0;
  line-height: 2rem;
  position: relative;
}
.button-banner {
  padding: 0;
  margin-top: 60px;
}
.button-banner a {
  text-decoration: none;
  color: #fff;
  padding: 9px;
}
.button-banner > a:first-child {
  background-color: #ffdb04;
  padding: 8px 13px;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  font-size: 14px;
  color: black;
}

.button-banner > a:last-child {
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.03) r;
  text-align: center;
  color: #fff;
  background: #435a8a 0 0 no-repeat padding-box;
  padding: 8px 13px;
  border-radius: 10px;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  font-size: 14px;
}

.left-banner > img {
  width: 500px;
  filter: drop-shadow(6px 8px 8px #333);
  justify-content: center;
}
.right-banner {
  width: 50%;
}
.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}

.go-down div {
  background-image: url(../images/arrowbottom.svg);
  width: 164px;
  height: 78px;
}

.go-down img {
  width: 15px;
  position: relative;
  /* bottom: 55px; */
  top: -60px;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInMenu {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1440px) {
     .left-banner img{
        width: 400px;
     } 
     .banner{
        padding-left: 50px;
        padding-right: 50px;

     }
}

@media (max-width: 1200px) {
  header {
    width: 900px;
  }
  .banner {
    width: 900px;
    height: 400px;
    padding: 39px 35px 80px;
  }
  .right-banner {
    width: 100%;
  }
  .right-banner > h3 {
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 5px;
    padding-top: 0;
  }
  .button-banner {
    text-align: center;
    margin-top: 30px;
  }
  .right-banner > p {
    text-align: center;
    font-size: 1rem;
  }
  .left-banner {
    display: none;
  }
}

@media (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }
  .header-ul li:last-child {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .header-ul li {
    margin: 0 10px;
  }
  .banner {
    height: 500px;
  }
}

@media (max-width: 750px) {
  .header-ul {
    display: none;
  }
  header {
    width: auto;
    padding: 10px 8px;
  }
  .hamburger-icon {
    display: block;
    color: #303030;
    cursor: pointer;
  }

  .banner {
    width: auto;
  }
}

@media (max-width: 570px) {
  .right-banner > h3 {
    font-size: 20px;
    text-align: right;
    padding-right: 19px;
    line-height: 28px;
  }
  .right-banner{
    margin-top: 28px;
  }
  .right-banner > p {
    margin-right:12px ;
    font-size: 14px;
  }
}
